body {
  background-color: yellow;
}

h1 {
  color: blue;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

h2.flashy {
  color: red;
  font-style: italic;
}

p {
  font-family: sans-serif;
}

p.intro {
  width: 50%;
  font-style: italic;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

.best {
  font-weight: bold;
  color: orange;
  font-size: 30pt;
}
